<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <div class="over404">
      <div class="darkOverlay"></div>
      <header>
        <h1 class="glitch" data-text="404"><%= error.status %></h1>
      </header>
    </div>
  </body>
</html>
